body {
    color: crimson;
}
h1 {
    font-family: "Courier New", monospace;
    font-size: 28px;
    text-align: left;
    color: darkblue;
}
h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    color: darkred;
}

